masks/*.pth filter=lfs diff=lfs merge=lfs -text
models/*.pth filter=lfs diff=lfs merge=lfs -text
checkpoints/*.pth filter=lfs diff=lfs merge=lfs -text
masks/sparsity_*/*.pth filter=lfs diff=lfs merge=lfs -text
masks/federated_masks_nc5_R3_sz0.01_stratified.pth filter=lfs diff=lfs merge=lfs -text
masks/federated_masks_nc10_R3_sz0.01_stratified.pth filter=lfs diff=lfs merge=lfs -text
masks/federated_masks_nc50_R3_sz0.01_stratified.pth filter=lfs diff=lfs merge=lfs -text
masks/federated_masks_nc100_R3_sz0.01_stratified.pth filter=lfs diff=lfs merge=lfs -text
*.pth filter=lfs diff=lfs merge=lfs -text
masks/magnitude_strategies/sparsity_078/federated_masks_nc10_R3_sz0.01_*_magnitude.pth filter=lfs diff=lfs merge=lfs -text
masks/magnitude_strategies/sparsity_078/federated_masks_nc50_R3_sz0.01_*_magnitude.pth filter=lfs diff=lfs merge=lfs -text
masks/magnitude_strategies/sparsity_078/federated_masks_nc100_R3_sz0.01_*_magnitude.pth filter=lfs diff=lfs merge=lfs -text
